.contacto {
  padding-top: 18vh;
}

.contactoBox {
  background: linear-gradient(
    135deg,
    rgba(9, 11, 156, 0.1),
    rgba(255, 255, 255, 0)
  );
  color: #004aad;
  /* backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
