@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

.bgSection {
  background-color: rgba(86, 96, 233, 0.082);
}

.carouselUno {
  background: url("../../img/imgMedicinaIntegUno.jpeg") no-repeat center/cover;
  width: 100%;
  height: 490px;
  filter: grayscale(20%);
}

.textCarousel {
  color: #004aad;
  font-weight: 600;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

/* .bgCarousel {
    background-color: rgba(0, 0, 0, 0.3);
} */

.carouselUno:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  transition: 1800ms;
}

.carouselDos {
  background: url("../../img/imgMedicinaInteg.jpeg") no-repeat center/cover;
  width: 100%;
  height: 490px;
  filter: grayscale(20%);
}

.carouselDos:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  transition: 1800ms;
}

.carouselTres {
  background: url("../../img/imgMedicinaIntegDos.jpeg") no-repeat bottom/cover;
  width: 100%;
  height: 490px;
  filter: grayscale(20%);
}

.carouselTres:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  transition: 1800ms;
}

#tituloDrog {
  color: #004aad;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
}

.cardInfo {
  width: 330px;
  height: auto;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
  color: #004aad;
  text-align: center;
  background: rgba(7, 5, 151, 0.568);
  animation: mySplice;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-duration: 1900ms;
}

.icon {
  color: #004aad;
  font-size: 45px;
  padding: 21px;
}

 h2 {
  font-weight: 600 !important;
  color: #004aad !important;
}

.containerSect {
  position: relative;
  width: 100%;
}

.containerSect::before {
  content: "";
  background: url("../../img/bgMedInt.jpeg") no-repeat center/cover;
  width: 100%;
  height: 100%;
  position: absolute;
  filter: opacity(15%);
}

.cardInfoUno {
  width: 330px;
  height: auto;
  margin: 5px;
  border-radius: 20px;
  color: #004aad;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  animation: mySplice;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-duration: 1900ms;
}

.cardInfoUno h3 {
  color: #ff51a4;
}

.icono {
  width: 90px;
  height: 90px;
  margin: 9px;
  display: inline-block;
  background: #fff;
  border-radius: 50px;
  transition: all 0.9s ease;
}

.iconUno {
  color: #ff51a4;
  font-size: 45px;
  padding: 21px;
}

.cardInfoDos {
  width: 330px;
  height: auto;
  margin: 5px;
  border-radius: 20px;
  color: #004aad;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  animation: mySplice;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-duration: 1900ms;
}

.cardInfoDos h3 {
  color: #a56fb8;
}

.iconDos {
  color: #a56fb8;
  font-size: 45px;
  padding: 21px;
}

.cardInfoTres {
  width: 330px;
  height: auto;
  margin: 5px;
  border-radius: 20px;
  color: #004aad;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  animation: mySplice;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-duration: 1900ms;
}

.cardInfoTres h3 {
  color: #ff8000;
}

.iconTres {
  color: #ff8000;
  font-size: 45px;
  padding: 21px;
}

:root {
  --clr-accent-400: hsl(236, 92%, 30%, 0.945);
}

.cardContent {
  /* max-height: 500px; */
  --padding: 2rem;
  padding: var(--padding);
  background: linear-gradient(
    hsla(0, 0%, 0%, 0),
    hsla(236, 96%, 32%, 0.137) 10% ,
    hsla(236, 96%, 32%, 0.39) 20%,
    hsla(236, 96%, 32%, 0.596),
    hsla(236, 96%, 32%, 0.842),
    hsla(236, 92%, 30%, 0.945)
  );
}

.cardTitle {
  position: relative;
  width: max-content;
}

.cardTitle::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: 0;
  width: calc(100% + var(--padding));
  background: var(--clr-accent-400);
}

.cardMision {
  font-weight: 400;
  max-height: 900px;
  color: #fff;
  background-image: url("../../img/bgMedInt.jpeg");
  background-size: cover;
  padding: 7rem 0rem 0rem;
  /* max-width: 45ch; */
  border-radius: 0.5rem;
  overflow: hidden;
}

.cardVision {
  max-height: 500px;
  color: #fff;
  background-image: url("../../img/medIntVision.jpeg");
  background-size: cover;
}

.bgMision {
  max-height: 500px;
  background-color: hsla(236, 73%, 80%, 0.932);
  width: 100%;
  height: 584px;
}
