@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

* {
    font-family: "Montserrat", sans-serif !important;
}

.carouselUno {
    background: url('../../img/imgMedicinaIntegUno.jpeg') no-repeat center/cover;
    width: 100%;
    height: 390px;
    filter: grayscale(20%);
}

.textCarousel {
    color: #004AAD;
}

.carouselUno:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    transition: 800ms;
}

.carouselDos {
    background: url('../../img/imgMedicinaInteg.jpeg') no-repeat center/cover;
    width: 100%;
    height: 390px;
    filter: grayscale(20%);
}

.carouselDos:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    transition: 800ms;
}

.carouselTres {
    background: url('../../img/imgMedicinaIntegDos.jpeg') no-repeat bottom/cover;
    width: 100%;
    height:390px;
    filter: grayscale(20%);
}

.carouselTres:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    transition: 800ms;
}

.valores {
    color: #004AAD;
}

.valores h2 {
    font-weight: 600;
}