.portadaNosotros {
  background: url("../../img/portadaMedNos.jpeg") no-repeat bottom center/cover;
  width: 100%;
  height: 400px;
}

.nosotros {
  /* font-weight: 600; */
  color: #004aad;
}

.textPortada {
  color: #fff;
  font-weight: 600;
}

.cardInfoNosotros {
  width: 330px;
  height: auto;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
  color: #004aad;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  animation: mySplice;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-duration: 1900ms;
}

.cardInfoNosotros h3 {
  color: #3b72e9;
}

.iconoNos {
  color: #3b72e9;
  font-size: 45px;
  padding: 21px;
}
