.portadaNosotros {
  background: url("../../img/portadaMedNos.jpeg") no-repeat bottom center/cover;
  width: 100%;
  height: 400px;
}

.nosotros {
  /* font-weight: 600; */
  color: #004aad;
}

.contentPortada {
  padding: 0.4rem;
  background: linear-gradient(
    hsla(236, 96%, 32%, 0.034),
    hsla(236, 96%, 32%, 0.26),
    hsla(236, 96%, 32%, 0.541),
    hsla(236, 96%, 32%, 0.842),
    hsla(236, 92%, 30%, 0.897)
  );
}

.textPortada {
  color: #fff;
  font-weight: 600;
}

.cardInfoNosotros {
  width: 330px;
  height: auto;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
  color: #004aad;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  animation: mySplice;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-duration: 1900ms;
}

.cardInfoNosotros h3 {
  color: #3b72e9;
}

.iconoNos {
  color: #3b72e9;
  font-size: 45px;
  padding: 21px;
}

.bgMision {
  max-height: 500px;
  background-color: hsla(236, 73%, 80%, 0.932);
  width: 100%;
  height: 584px;
}

.cardMision {
  font-weight: 400;
  max-height: 500px;
  color: #fff;
  background-image: url("../../img/misionMedicinaInt.jpg");
  background-size: cover;
  /* padding: 3rem 1rem 1rem; */
}

.cardVision {
  max-height: 500px;
  color: #fff;
  background-image: url("../../img/medIntVision.jpeg");
  background-size: cover;
}

.cardContent {
  max-height: 500px;
  padding: 21rem 1rem 1rem;
  background: linear-gradient(
    hsla(236, 96%, 32%, 0.192),
    hsla(236, 96%, 32%, 0.39),
    hsla(236, 96%, 32%, 0.596),
    hsla(236, 96%, 32%, 0.842),
    hsla(236, 92%, 30%, 0.945)
  );
}

.equipo {
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 250px;
  position: relative;
}

.imgEquipo {
  width: 100%;
  display: block;
  margin: auto;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
}

.content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

.content:hover {
  opacity: 1;
}

.content h3 {
  font-size: 55px;
  color: #fff;
}

.content > * {
  transform: translateY(35px);
  transition: transform 0.6s;
}

.content:hover > * {
  transform: translateY(0px);
}
