.subrayado {
  text-decoration: none;
}

.footerLetra {
  font-family: "Montserrat", sans-serif;
  color: #004aad;
}

.footerLetra a {
  font-weight: 400;
  color: #004aad;
}

.footerLetra h6 {
    color: #004aad;
}

/* @media all and (min-width: 200px) and (max-width: 375px) {
  .logoFooter {
    width: 300px;
  }
} */


