.glassBlue {
    background-color: rgba(3, 5, 128, 0.404);
}

.boton {
    color: #eee!important;
    font-size: 20px;
    font-weight: 500 !important;
    /* padding: 0.5em 1.2em; */
    background: rgba(0,0,0,0);
    border-bottom: 1px solid;
    border-radius: 0px;
    border-color: rgba(141, 0, 0, 0);
    transition: all 1s ease;
    position: relative;
  }
  .boton:hover {
    background: rgba(0,0,0,0);
    border: 1px solid;
    border-radius: 10px;
    border-color: #eee;
    transition: all 1s ease;
  }

  @media all and (min-width: 200px) and (max-width: 367px) {
    .logoImg {
      width: 220px;
    }
  }

